registry=https://azure.daftareshoma.com:8443/DefaultCollection/_packaging/Frontend/npm/registry/

always-auth=true

//azure.daftareshoma.com:8443/DefaultCollection/_packaging/Frontend/npm/registry/:username=anything
//azure.daftareshoma.com:8443/DefaultCollection/_packaging/Frontend/npm/registry/:_password=bG9xZXppN3diZGJ0ZnZ6N2Nmd3ltcjNhZW50eTdpanluNTd6bDZpdHJ6amxpc2ZpeHRzYQ==
//azure.daftareshoma.com:8443/DefaultCollection/_packaging/Frontend/npm/registry/:email=npm@example.com
